body {
  padding-top: 80px;
  text-align: center;
  font-family: monaco,monospace;
  background-size: cover;
  background-color: #E0D3AF;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
